<a href="https://colab.research.google.com/github/AdrianCPC/Data_Insider_DS/blob/main/Data_Insider_DS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Configuración ambiente

In [1]:


from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd
import requests
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#Obtención de datos

In [3]:
data_forbes = pd.read_csv('/content/drive/MyDrive/Data Science/Alura/Estadistica y Visualizacion de datos/Reto II/aroissues-forbes-global-2000-2008-2019/data/forbes_global_2000_2022_unified_industry.csv')

In [4]:
data_forbes.head(-1)

,rank_nr,company,industry,country,sales,profits,assets,market_value
0,1,Berkshire Hathaway,Diversified Financials,United States,276094,89795.0,958784,741476
1,2,ICBC,Banking,China,208127,54028.3,5518508,214425
2,3,Saudi Arabian Oil Company (Saudi Aramco),Oil & Gas Operations,Saudi Arabia,400376,105363.0,576041,2292077
3,4,JPMorgan Chase,Diversified Financials,United States,124542,42115.0,3954687,374446
4,5,China Construction Bank,Banking,China,202069,46887.3,4746951,181325
...,...,...,...,...,...,...,...,...
1994,1995,Aperam,Materials,Luxembourg,6030,1144.2,6722,3159
1995,1995,Shenzhen Feima International Supply Chain,Business Services & Supplies,China,37,1408.3,166,1136
1996,1997,NMDC,Materials,India,3520,1406.4,5715,6401
1997,1997,Sichuan Changhong Electric,Consumer Durables,China,15716,53.1,12105,1957
1998,1999,Satellite Chemical,Chemicals,China,4413,931.3,7640,9521

In [7]:
api_data = 'QOpPxC_54Rcq_z48oY2PfNTWANdJlAJK'

In [8]:
#Nombres acciones empresas
name_companies = ['AAPL', 'GOOGL', 'MSFT', 'AMZN', 'FB']

#fechas
data_initial = '2022-01-01'
data_end = '2022-12-31'

In [9]:
#Solicitud de API y Dataframes

data_companies = []

for company in name_companies:
  url = f"https://api.polygon.io/v2/aggs/ticker/{company}/range/1/day/{data_initial}/{data_end}?apiKey={api_data}"
  response = requests.get(url)
  data = response.json()

  df = pd.DataFrame(data['results'])
  df['company'] = company

  data_companies.append(df)

  #Union de dataframes

final_dataset = pd.concat(data_companies)

In [11]:
final_dataset.head(-1)

,v,vw,o,c,h,l,t,n,company
0,104677470.0,181.4156,177.83,182.01,182.880,177.71,1641186000000,772691,AAPL
1,99110438.0,180.5574,182.63,179.70,182.940,179.12,1641272400000,831890,AAPL
2,94535602.0,177.2884,179.61,174.92,180.170,174.64,1641358800000,848513,AAPL
3,96882954.0,173.0800,172.70,172.00,175.300,171.64,1641445200000,960340,AAPL
4,86709147.0,172.4383,172.89,172.17,174.140,171.03,1641531600000,716881,AAPL
...,...,...,...,...,...,...,...,...,...
103,36623495.0,191.3756,196.51,188.64,199.530,185.00,1654056000000,391990,FB
104,31951582.0,195.8094,188.45,198.86,200.935,187.73,1654142400000,336899,FB
105,19464993.0,192.0885,195.98,190.78,196.610,189.78,1654228800000,239486,FB
106,30574242.0,193.2857,193.99,194.25,196.920,188.40,1654488000000,307707,FB
107,18628687.0,194.4583,191.93,195.65,196.530,191.49,1654574400000,204288,FB

In [12]:
#Guardado de archivos en csv

final_dataset.to_csv('historico_acciones.csv', index=False)

In [13]:
#Obtencion de datos historicos acciones descargados

history_stocks = pd.read_csv('/content/drive/MyDrive/Data Science/Alura/Estadistica y Visualizacion de datos/Reto II/historico_acciones.csv')
history_stocks.head(-1)

,v,vw,o,c,h,l,t,n,company
0,104677470.0,181.4156,177.83,182.01,182.880,177.71,1641186000000,772691,AAPL
1,99110438.0,180.5574,182.63,179.70,182.940,179.12,1641272400000,831890,AAPL
2,94535602.0,177.2884,179.61,174.92,180.170,174.64,1641358800000,848513,AAPL
3,96882954.0,173.0800,172.70,172.00,175.300,171.64,1641445200000,960340,AAPL
4,86709147.0,172.4383,172.89,172.17,174.140,171.03,1641531600000,716881,AAPL
...,...,...,...,...,...,...,...,...,...
1107,36623495.0,191.3756,196.51,188.64,199.530,185.00,1654056000000,391990,FB
1108,31951582.0,195.8094,188.45,198.86,200.935,187.73,1654142400000,336899,FB
1109,19464993.0,192.0885,195.98,190.78,196.610,189.78,1654228800000,239486,FB
1110,30574242.0,193.2857,193.99,194.25,196.920,188.40,1654488000000,307707,FB
1111,18628687.0,194.4583,191.93,195.65,196.530,191.49,1654574400000,204288,FB